body {
    font-family: sans-serif;
  }
  
  .bookImg p {
    overflow: hidden;
  }
  .bookImg img {
    object-fit: contain;
    background-color: gray;
  }
  .bookLink {
    color: #212529;
  }
  .bookLink :hover{
    color: darkorange;
  }