/*余剰を。。。にするやつ*/
.ellipsis {
  width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.Borrow {
  background-color: #c8d627;
}
.Exist {
  background: white;
}
.TakeOut {
  background: #d5848b;
}
.bookLink {
  color: #212529;
}
.bookLink :hover{
  color: darkorange;
}
.bookLink :visited{
  color: aquamarine;
}