{{define "login"}}
<html>
<head>
    <title>ログイン</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        
</head>
<body>
    <!-- メニュー欄ヘッダー -->
    <header class="navbar navbar-expand navbar-light bg-light flex-row sticky-top">
        <div>
            <a class="navbar-brand" href="./" id="menuDrop">home</a>
        </div>
        <div class="navbar-nav ml-auto">
            <div class="nav-item dropdown">
                <a href="" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">メニュー</a>
                <div class="dropdown-menu" aria-labelledby="menuDrop">
                    <a class="dropdown-item">リンク１</a>
                    <a class="dropdown-item">リンク２</a>
                </div>
            </div>
        </div>
    </header>

<div class="container-fluid">
<div row class="row flex-xl-nowrap">

    <!-- ここから内容 -->
<div id="wrapTop" class="col-md-15">
    <div class="card" style="width: 20rem;">
        <form method="POST" name="loginForm">
            <div class="form-group">
                <label for="formEmail">ユーザ名</label>
                <input type="text" class="form-control" id="formEmail" name="Email">
            </div>
            <div class="form-group">
                <label for="formPass">パスワード</label>
                <input type="password" class="form-control" id="formPass" name="Password">
            </div>
            <div>
                <button type="submit" class="btn btn-primary">ログイン</button>
            </div>
        </form>
    </div>
    <div class="card" style="width: 10rem;height: 1000rem;">
        
    </div>
</div>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>
{{end}}
{{define "top"}}
{{end}}